.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.search {
  max-width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
}

.icon {
  display: block;
  width: 23px;
  height: 23px;
}
