.wrapper {
  position: relative;
  left: -120px;
}

.search {
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 16px 8px 35px;
}

.icon {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 22px;
  height: 22px;
  opacity: 0.5;
}
